<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

<div class="container text-center">
    <h1>Password Generator</h1>
    <form action="{% url 'password' %}">
        <select name="length">
            <option value="6">6 chars </option>
            <option value="8">8 chars </option>
            <option value="10" selected="selected">10 chars</option>
            <option value="20">20 chars</option>
        </select>
        <br>
        <input type="checkbox" name="uppercase"> Uppercase
        <br>
        <input type="checkbox" name="numbers"> Numbers
        <br>
        <input type="checkbox" name="special"> Special Charactors
        <br>

        <input type="submit" value="Generator Password" class="btn btn-primary">
    </form>

    <a href="{% url 'about' %}" class="btn btn-info">About</a>

</div>